.tit{
    margin: 40px 0px;
}
.num{
    display: inline-block;
    color: orange;
    font-weight: bold;
    font-size: 50px;
}
.s-tit{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}
.cont{
    font-size: 25px;
    background-color: #0f6878;
    color:#ffff;
    padding: 30px;
}
.point{
    display: inline;
    color: orange;
}