 /* 전체 구역 */
#wrap{
    width: 400px;
    margin: 0 auto;
}
/* 상단 */
#todoTop{
    display: flex;
}


/* 하단 */
/* 입력상자 */
.contentInput{
    width: 300px;
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 5px #ff6600;
}

/* 등록버튼 */
.addBtn{
    width: 100px;
    padding: 15px;
    border: none;
    box-shadow: 0px 0px 5px #ff6600;
}

/* 할 일 1개 , 할 일이 미완료 일 때 */
.contentBox{
    display: flex;
    justify-content: space-between; /* 가로 정렬 */
    align-items: center; /* 세로 정렬 */
    background-color: #ff6600;
    margin: 20px 0px;
    padding: 15px 10px;
}

/* 할 일이 완료일 때 내용구역에 취소선 */
.success{
    background-color: #f0f0f0;
    color: darkgray;
}
.success > .content{
    text-decoration: line-through;
}
.success > .contentBtns > button{
    background-color: #f0f0f0;
    color: gray;
    border: 1px solid darkgray
}