/* 와일드카드 css */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

/* 메인 배너 */
.main_banner_2{
    width: 1920px;
    height: 370px;
    background-image: url(./img/contact_banner.jpg);
    margin: 0 auto;
}
.main_banner_2 > h3{
    font-size: 55px;
    color: #ffff;
    text-align: center;
    padding-top: 126px ;
}
.main_banner_2 > p{
    font-size: 18px;
    color: #ffff;
    text-align: center;
}


/* 서브메뉴 */
.main_submenubox_2{
    background-color: #ffff;
    border-bottom: 1px solid #e5e5e5;
    position: sticky;
    top: 0px;
}
.main_submenu_2{
    width: 430px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    align-items: center;
}
.main_submenu_2 > li:hover{
    font-weight: bold;
    border-bottom: 2px solid black;
}


/* 메인 컨텐츠 */
.main_contbox_2{
    width:1200px;
    margin: 0 auto;
}
.main_contbox_2 > h4{
    text-align: center;
    padding-top: 120px;
    font-size: 50px;
}
.contact_list_2{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.contact_2{
    margin: 0 auto;
    width: 4000px;
}
.contact_2 > p{
    text-align: center;
}
.subtit_2{
    font-size: 20px;
    font-weight: bold;
}
.border_2{
    border-right: 1px solid #d9d9d9;
}

.map_2{
    position: relative;
}

iframe{
    margin-top: 120px;
    margin-bottom: 20px;
}

.map_pix_2{
    width: 280px;
    height: 210px;
    background-color: #ae1216;
    padding-top: 50px;
    padding-left:20px;
    position: absolute;
    top: 130px;
    left: 13px;
}
.map_pix_2 > h3, .map_pix_2 > p{
    color: #ffff;
}
.map_pix_2 > h3{
    padding-bottom: 40px;

}

/* top 버튼 */
.main_btn_top_2{
    text-align: end;
    margin-bottom: 20px;
}