

/* 와일드카드 css */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}


/* 헤더 */
#header{
    background-color: #fa0050; display: flex;
    justify-content: space-between; align-items: center;
    padding: 0px 50px;
}
#header > #h_logo img{
    width: 100px;
}
#header > #h_ul{
    display: flex; justify-content: space-between; width: 730px;
} 
#header > #h_ul li a{
    display: block; line-height: 80px;

}

#header > #h_ul li a p {
    position: relative;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

#header > #h_ul li a p::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    margin-top: -1px; /* 높이의 절반 값 */
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0); /* 처음에는 보이지 않음 */
    transform-origin: center; /* 중심에서 양쪽으로 퍼짐 */
    transition: transform 0.4s ease-out;
}

#header > #h_ul li a:hover p::after,
#header > #h_ul li .active p::after {
    transform: scaleX(1); /* 호버 시 전체 너비로 확대 */
}


#header > #h_site{
    display: flex; justify-content: space-between; width: 100px;
}



/* 메인 배너 */
.main_banner_2{
    width: 1920px;
    height: 370px;
    background-image: url(./img/main_img.jpg);
    margin: 0 auto;
}
.main_banner_2 > h3{
    font-size: 55px;
    color: #ffff;
    text-align: center;
    padding-top: 126px ;
}
.main_banner_2 > p{
    font-size: 18px;
    color: #ffff;
    text-align: center;
}


/* 서브메뉴 */
.main_submenubox_2{
    background-color: #ffff;
    border-bottom: 1px solid #e5e5e5;
    position: sticky;
    top: 0px;
}
.main_submenu_2{
    width: 430px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    align-items: center;
}
.main_submenu_2 > li:hover{
    font-weight: bold;
    border-bottom: 2px solid black;
}

/* 메인 컨텐츠 */
.main_cont_2{
    width: 1250px;
    margin: 0 auto;
    padding-top: 135px;
}
.main_contbox_2{
    display: flex;
}
.main_cont_left_2 > p{
    width: 430px;
    font-size: 40px;
    margin-bottom: 20px;
}
.cont1_logo_2{
    width: 193px;
    height: 62px;
}
.cont2_logo_2{
    width: 244px;
    height: 62px;
}
.cont3_logo_2{
    width: 200px;
    height: 81px;
}


.main_cont_right_2{
    width: 720px;
}
.main_cont_right_2 > h4{
    font-size: 20px;
    margin: 5px 0px;
}
.main_cont_right_2 > p{
    font-size: 15px;
}
.main_cont_right_2 > iframe{
    margin: 50px 0px 30px 0px;
    width: 100%;
}
.main_cont_right_2 > img{
    padding-top: 55px;
}


.imgmargin_2{
    margin-bottom: 20px;
}


.sub_cont_list_2{
    display: flex;
    justify-content: space-between;
}
.sub_cont_2{
    width: 230px;
    height: 190px;
    font-size: 14px;
    position: relative;
}
.sub_cont_2 > img{
    height: 130px;
    filter: brightness(80%);
    margin-bottom: 10px;
}


.video_btn_2 > img{
    width: 54px;
    height: 48px;
    position: absolute;
    top: 48px;
    left: 90px;
}

/* 
.sub_cont_2:hover .sub_cont_2 > img{
    border: 5px solid red;
}
*/


.border1_2{
    border: 5px solid #d61f26;
    width: 230px;
}
.input_btn_2{
    padding-top: 745px;
}
.input_btn2_2{
    padding-top: 710px;
}
.input_btn3_2{
    padding-top: 595px;
}
.btn_2{
    width: 35px;
    height: 35px;
    font-size: 19px;
    color: #8d8d8d;
    font-weight: bold;
    margin-right: 15px;
    background-color: #ffff;
    border: 2px solid #8d8d8d;
}
.btn2_2{
    margin-right: 0px;
    margin-left: 15px;
}
.main_cont_2 > h2{
    font-size: 50px;
    margin-bottom: 80px;
    text-align: center;
}

/* 메인 컨텐츠4 (BI) */
.bottom_cont_2{
    display: flex;
    margin-top: 60px;
    margin-bottom: 170px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}
.bottom_cont > h2{
    font-size: 20px;
}
.bottom_cont > p{
    font-size: 15px;
}
.bottom_cont_txt_2{
    margin-left: 25px;
}
.bottom_cont_down_2{
    margin-left: 63px;
    padding-top: 25px;
}
.main_btn_top_2{
    width: 1250px;
    margin: 0 auto;
    text-align: end;
    padding-top: 70px;
}

/* top 버튼 */
.main_btn_top_2 > img{
    margin-right: 30px;
}

/* 푸터 */
#footer{
    background-color: #333333; 
}
#footer > #foom{
    width: 1250px; margin: 0 auto; display: flex;
    align-items: center; padding: 50px 0px;
    justify-content: space-between;
}
#footer > #foom > #foofont{
    margin-right: 280px;
}
#footer > #foom > #foofont p{
    color: white; font-weight: bold; font-size: 20px;
    margin-bottom: 10px;
}
#footer > #foom > #foofont span{
    color: white; font-size: 14px;
}
#footer > #foom > #foofont #address{
    margin-right: 15px;
}
#footer > #foom > #foolink{
    text-align: right;
}
#footer > #foom > #foolink > a{
    margin-bottom: 20px; display: block;
}
#footer > #foom > #foolink > ul{
    display: flex; justify-content: center;
}
#footer > #foom > #foolink > ul .dropbox1 ul li{
    background-color: #494949; text-align: left;
    padding: 7px 44px 7px 15px;
}
#footer > #foom > #foolink{
    position: relative;
}
#footer > #foom > #foolink > ul .dropbox1{
    position: absolute; top: 25px; display: none;
    border-bottom: 1px solid #e5e5e5;
}
#footer > #foom > #foolink > ul .dropbox1 ul li a{
    color: lightgray; font-size: 12px;
    display: block; 
}
#footer > #foom > #foolink > ul .dropbox1 ul li a:hover{
    color: white;
}
#footer > #foom > #foolink > ul:active .dropbox1{
    display: block;
}